* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(./assets/backgroundHome2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.website-logo {
  margin: 1em 0 0 2em;
  font-size: 1.6vw;
}

.nav-contents .list {
  display: inline-flex;
  padding: 3em;
}

.nav-contents .list .list-items {
  list-style: none;
  margin: 0 2em 0 2em;
  padding: 0 1em 0.3em 1em;
  color: rgb(195, 194, 194);
  cursor: pointer;
}

.list :hover {
  border-bottom: 1px solid red;
  transition: 1s;
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-group {
  width: 65%;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 24em;
  height: 26em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 24px;
  opacity: 0.8;
  backdrop-filter: blur(24px);
}

.home-login-btn {
  width: 12em;
  height: 3em;
  border: none;
  background-color: rgb(245, 51, 51);
  color: white;
  font-weight: 900;
  font-size: 1.6vw;
  border-radius: 32px;
  margin: 2em;
  cursor: pointer;
  box-shadow: 1px 2px 2px 0px rgb(120, 113, 113);
}

.card p {
  font-size: 1.5vw;
  padding: 2em 1em 2em 2em;
}

.quote-style {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.7em;
  color: red;
}

.center-card {
  position: absolute;
  width: 28em;
  height: 24em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 24px;
  z-index: 1;
}

.center-card-logo {
  width: 100%;
  padding: 20px;
  text-align: right;
}

.input-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.input-field {
  width: 100%;
  height: 6vh;
  padding-left: 1vw;
  margin-top: 1vw;
  border: 1px solid gray;
  border-radius: 32px;
}

.center-card-btn {
  width: 100%;
  height: 6vh;
  margin: 1.5vw 0 0 0vw;
  border-radius: 32px;
  font-size: 1.3vw;
  border: none;
  background-color: rgb(245, 51, 51);
  color: white;
  font-weight: 900;
  box-shadow: 1px 2px 2px 0px rgb(120, 113, 113);
}

#center-card-employee {
  display: none;
}

#center-card-admin {
  display: none;
}

#sheet {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
  opacity: 0.7;
  display: none;
}

/* Example: Change background color when screen width is 600px or smaller */
@media only screen and (max-width: 700px) {
  .website-logo {
    font-size: 2.8vw;
  }
  body {
    background: linear-gradient(
      120deg,
      rgb(105, 105, 255),
      rgb(255, 79, 79),
      rgb(255, 81, 255)
    );
  }
  .container {
    background: linear-gradient(
      120deg,
      rgb(105, 105, 255),
      rgb(255, 79, 79),
      rgb(255, 81, 255)
    );
  }
  .card-group {
    flex-direction: column;
  }
  .card {
    margin: 25px;
    backdrop-filter: blur(40px);
    opacity: 0.8;
  }
  .card p {
    font-size: 4vw;
    padding: 2em 1em 2em 2em;
  }
  .home-login-btn {
    font-size: 3vw;
    box-shadow: 1px 2px 2px 0px rgb(120, 113, 113);
  }
  .input-field {
    width: 50vw;
  }
  .center-card-btn {
    width: 30vw;
    font-size: 2.5vw;
    margin-left: 9vw;
    margin-top: 2vh;
    box-shadow: 1px 2px 2px 0px rgb(120, 113, 113);
  }
  table {
    font-size: 2vw !important;
  }
}

/* Admin.html */

.window {
  width: 80%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 32px;
  opacity: 0.9;
}

.button-group {
  width: 100%;
  height: 10vh;
  padding: 2vw;
  display: flex;
  align-items: center;
}

.db-btn {
  width: 18vw;
  height: 5vh;
  border: none;
  background-color: #5c5c5c;
  font-size: 1.1vw;
  font-weight: 700;
  box-shadow: 1px 2px 2px 0px rgb(120, 113, 113);
}

.button-group .db-btn:hover {
  background-color: rgb(255, 91, 91);
  color: white;
  transition: 0.5s;
}

.button-group .db-btn.active {
  background-color: rgb(255, 91, 91);
  color: white;
}

.table-db {
  width: 100%;
  height: 60vh;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* CSS styles for the table */
.db-table {
  width: 80%;
  max-width: 80%;
  height: 50vh;
  overflow-x: auto;
  font-size: 1vw;
  overflow: scroll;
  border-collapse: collapse;
  border-radius: 32px;
}

.table-row-head {
  background-color: #ff6060;
  color: white;
}

.table-row-head th {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.table-db td {
  border: 1px solid rgb(167, 167, 167);
  border-collapse: collapse;
  padding: 10px;
}

.generate-div {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.generate-btn {
  width: 10vw;
  height: 5vh;
  border-radius: 32px;
  border: none;
  background-color: #ff6060;
  color: white;
  font-weight: 700;
  font-size: 1.2vw;
  cursor: pointer;
  box-shadow: 1px 2px 2px 0px rgb(120, 113, 113);
}

#center-card-admin-page {
  position: absolute;
  width: 24em;
  height: 22em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 24px;
  z-index: 1;
  display: none;
}

#adminPageID {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
